<h4 class="fun-header">Fun Traits</h4>
<div class="author-fun-traits">
  <div class="stat-card"><i class="fa-solid fa-brain"></i> INTP-A</div>
  <div class="stat-card"><i class="fa-solid fa-magnifying-glass-chart"></i> Enneagram 5w4</div>
  <div class="stat-card"><i class="fa-solid fa-puzzle-piece"></i> Influence + Support (I/s)</div>
  <div class="stat-card"><i class="fa-solid fa-aries"></i> Aries</div>
</div>

<p class="notice--info">These traits are presented for fun; research-based assessments are on the About page.</p>